# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# temp directory
.temp
.tmp

# Do not commit generated JS alongside TS source files
/apps/**/src/**/*.js
/apps/**/src/**/*.js.map
/apps/**/src/**/*.d.ts
